<!-- 
<%!
	int pageSize = 5;
	SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd HH:mm");%>

<%
	String pageNum = request.getParameter("pageNum");
	String keyField = request.getParameter("keyField");
	String keyWord = request.getParameter("keyWord");

	if (pageNum == null) {
		pageNum = "1";
	}

	int currentPage = Integer.parseInt(pageNum);
	int startRow = (currentPage - 1) * pageSize + 1;
	int endRow = currentPage * pageSize;
	int count = 0;
	int number = 0;
	
	List<BoardDataBean> articleList = null;

	BoardDBBean dbPro = BoardDBBean.getInstance();
	count = dbPro.getQnaArticleCount(keyField, keyWord);

	if (count > 0) {
		articleList = dbPro.getQnaArticles(startRow, pageSize, keyField, keyWord);
	}

	number = count - (currentPage - 1) * pageSize;
%>
 -->
<script>
function searchCheck(form){
    //검색
   
    if(form.keyWord.value ==""){
        alert("검색 단어를 입력하세요.");
        form.keyWord.focus();
        return;
    }
    form.submit();      
}
</script>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="background-color:#ffffff;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Oversea 고객센터</title>

<link th:href="@{/css/overseaBoard.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/combined.css}" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;subset=korean"	rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

</head>
<body style="background-color:#ffffff;">
	<header class="nk-header" th:replace="overseaNav::nav"></header>

	<!-- header -->
	<header class="header">
	<div id="QA">
		<div class="content">고 객 센 터</div>
		<div id="QA_cover"></div>
	</div>
	</header>
	<script type="text/javascript">
		function scroll_follow(id) {
			$(window).scroll(function(){  //스크롤이 움직일때마다 이벤트를 발생시키고  
		        var position = $(window).scrollTop(); // 현재 스크롤바의 위치값을 반환합니다.       
		        $(id).stop().animate({top:position+"px"}, 1); //해당 오브젝트 위치값 재설정    
	        }); 
		}
		scroll_followd("#floating");
	</script>
	<div class="left_menulist" id="floating">
		<ul id="navi">
			<li class="group">
				<div class="title" style="font-size:30px;background-color: #ffffff;">고객센터</div>
				<ul class="sub">
					<li><a href="oversea_notice_list.jsp" style="background-color: #ffffff;">공지사항</a></li>
					<hr>
					<li><a href="oversea_qna_list.jsp" style="background-color: #ffffff;color:#209CCE">Q & A</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="board_content">
		<!-- nav -->
		<nav class="nav">
		<div class="QA_title">Q & A</div>
		<br>
		<br>
		</nav>
		<!-- section -->
		<section class="section">
		<div class="board">
			<div class="board_form">
			<!-- 
				<%
					if (count == 0) {
				%>
			
				<table class="form">
					<thead>
						<tr>
							<th class="th" id="no">No</th>
							<th class="th" id="title">제목</th>
							<th class="th" id="name">글쓴이</th>
							<th class="th" id="date">작성시간</th>
							<th class="th" id="count">조회수</th>
						</tr>
					</thead>
				</table>
				</td>
				</tr>
				</table>
				<div class="wrap">
				<!-- 
					<% if (session.getAttribute("loginEmail")==null) { %>
					
					<% } else { %>
						<a href="oversea_qna_WriteForm.jsp" class="button">글쓰기</a>
					<% } %>
				 -->
				</div>
				<!-- 
				<%
					} else {
				%>
				 -->
				<table class="form">
					<thead>
						<tr>
							<th class="th" id="no">No</th>
							<th class="th" id="title">제목</th>
							<th class="th" id="name">글쓴이</th>
							<th class="th" id="date">작성시간</th>
							<th class="th" id="count">조회수</th>
						</tr>
					</thead>					
					<tbody th:each="qna : ${qnaList}">
						<tr>
							<td id="no" th:text="${qna.num}"></td>
							<td>
								<a href="#" th:text="${qna.subject}"></a> 							
							</td>
							<td th:text="${qna.writer}"></td>							 
							<td id="date" th:text="${qna.regDate}"></td>
							<td id="count" th:text="${qna.readCount}"></td>						
						</tr>
					</tbody>
				</table>
				</td>
				</tr>
				</table>
				<div class="bottom">
					<div class="wrap">
						<a th:if="${session.mem!=null}" href="oversea_qna_WriteForm.jsp" class="button">글쓰기</a>
					</div>					
					<div th:if="${#request.getParameter('keyField')}==null" class="page" th:each="qnaCount : ${qnaCount}">
						<ul id="pageNum">
							<li><a href="#">[이전]</a></li>
							<li th:each="no : ${#numbers.sequence(0, qnaCount/5, 1)}">
								<a th:if="${qnaCount%5 != 0}" th:href="@{/overseaSupport?pageNum={no}(no=${no+1})}" >  [ [[${no+1}]] ]  </a>
							</li>
							<li><a href="#">[다음]</a></li>
						</ul>					
					</div>
					<div class="page" th:unless="${#request.getParameter('keyField')}==null" th:each="qnaCount : ${qnaCount}" >
						<ul id="pageNum">
							<li><a href="#">[이전]</a></li>
							<li th:each="no : ${#numbers.sequence(0, qnaCount/5, 1)}">
								<a th:if="${qnaCount%5 != 0}" 
								   	th:href="@{/overseaSupport?pageNum={no}&keyField={keyField}&keyWord={keyWord}(no=${no+1},
								   			 keyField=${#request.getParameter('keyField')}, keyWord=${#request.getParameter('keyWord')})}" >  
									[ [[${no+1}]] ]  
								</a>
							</li>
							<li><a href="#">[다음]</a></li>
						</ul>					
					</div>
				</div>				
				<form action="overseaSupport" name="serach" method ="get">
					<input type="hidden" name="pageNum" value="1"/>
            		<select name="keyField" id="keyField">
                		<option value="subject">제목</option>
                		<option value="writer">글쓴이</option>
            		</select>
	            	<input type="text" name="keyWord" id="keyWord" />
	            	<input type="submit" value="검색" />
            	</form>				
			</div>
		</div>
		</section>
	</div>
</body>
</html>