<html style="background-color: #ffffff;">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title>게시판</title>
<link href="style.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" th:src="@{/js/oversea_board_delete.js}"></script>
<link th:href="@{/css/overseaBoard.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/combined.css}" rel="stylesheet" type="text/css">

<link
	href="https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;subset=korean"
	rel="stylesheet">

</head>
<body style="background-color: #ffffff;">
	<header class="nk-header" th:replace="overseaNav::nav"></header>
	<header class="header">
		<div id="QA">
			<div class="content">고 객 센 터</div>
			<div id="QA_cover"></div>
		</div>
	</header>
	<div class="left_menulist">
		<ul id="navi">
			<li class="group">
				<div class="title"
					style="font-size: 30px; background-color: #ffffff;">고객센터</div>
				<ul class="sub">
					<li><a href="oversea_notice_list.jsp"
						style="background-color: #ffffff;">공지사항</a></li>
					<hr>
					<li><a th:href="@{overseaSupport?pageNum=1}"
						style="background-color: #ffffff; color: #209CCE">Q & A</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="board_content">
		<!-- nav -->
		<section class="section">
				<form name="contForm">
					<table class="form">
						<tr height="30">
							<td align="center" width="200">글제목</td>
							<td align="left" width="200" th:text="${qnaCont.subject}"></td>
							<td align="center" width="200">조회수</td>
							<td align="left" width="200" th:text="${qnaCont.readCount}"></td>
						</tr>
						<tr height="30">
							<td align="center" width="200">작성자</td>
							<td align="center" width="200" th:text="${qnaCont.writer}"></td>
							<td align="center" width="200">작성일</td>
							<td align="center" width="200" th:text="${qnaCont.regDate}"></td>
						</tr>
						<tr>
							<td align="center" width="30" height="300"></td>
							<td align="left" width="375" colspan="3"><pre th:text="${qnaCont.content}"></pre></td>
						</tr>					
						<tr height="30">
							<td colspan="4" align="center">
								<input type="hidden" name="num" th:value="${qnaCont.num}"> 								 
								<!-- 작성자 이거나 관리자면 버튼 보이기 --> 
								
								<input th:if="${session.mem!=null}" class="btn btn-success" type="button" value="글수정" 
									onclick="document.location.href='oversea_qna_UpdateForm.jsp?num=<%=article.getNum()%>&pageNum=<%=pageNum%>'">
									&nbsp;&nbsp;&nbsp;&nbsp; 
								<input th:if="${session.mem!=null}" class="btn btn-success"	type="button" value="글삭제"
									onclick="del_ok('board/oversea_qna_DeletePro.jsp?num=<%=article.getNum()%>&pageNum=<%=pageNum%>')">
									&nbsp;&nbsp;&nbsp;&nbsp; 						
								<input th:if="${session.mem!=null}" class="btn btn-success" type="button" value="답글쓰기"
									onclick="document.location.href='oversea_qna_WriteForm.jsp?num=<%=num%>&ref=<%=ref%>&re_step=<%=re_step%>&re_level=<%=re_level%>'">
									&nbsp;&nbsp;&nbsp;&nbsp;
								<a th:href="@{overseaSupport?pageNum=1}">
									<input class="btn btn-info" type="button" value="글목록"/>
								</a>								
							</td>
						</tr>
					</table>
				</form>
		</section>
	</div>
</body>
</html>