<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="itc.hoseo.oversea.member.Member" alias="Member"/>
	</typeAliases>
	
	<environments default="local">
		<environment id="local">
			<transactionManager type="JDBC" />
			<dataSource
				type="itc.hoseo.oversea.HikariDataSourceFactory">
				<property name="jdbcUrl" value="jdbc:hsqldb:mem:testdb" />
				<property name="username" value="SA" />
			</dataSource>
		</environment>
	</environments>
	
	
	<mappers>
		<mapper resource="mybatis/mappers/Member.xml" />
	</mappers>
</configuration>