@charset "UTF-8"; 

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

details, footer, header, main, menu, nav, section {
	display: block
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px
}

.container:after {
	content: "";
	display: table;
	clear: both
}

.nk-header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000;

}

.nk-navbar {			
	padding: 33px 0;
	font-size: 1.3rem;			/* nav 글씨 크기 */
	z-index: 1000;
	transition: background-color .3s;
	will-change: background-color;
	border-bottom: 1px #EAEAEA solid;
}

.nk-navbar .container-fluid .nk-nav-table {
	padding-left: 30px;
	padding-right: 30px
}

.nk-navbar.nk-navbar-lg {
	padding: 51px 0
}

.nk-navbar.nk-navbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: transform .2s, visibility .2s, background-color .3s;
	will-change: transform, visibility, background-color
}

.nk-navbar.nk-navbar-fixed.nk-onscroll-hide {
	transform: translateY(-100%);
	visibility: hidden
}

.nk-navbar.nk-navbar-fixed.nk-onscroll-show {
	transform: translateY(0);
	visibility: visible
}

.nk-navbar.nk-navbar-transparent {			
	background-color: #fff			/* nav 뒷배경 색 */
}

.nk-navbar, .nk-navbar.nk-navbar-solid {
	background-color: #fff
}

.nk-navbar.nk-navbar-transparent-always {
	background-color: transparent
}

.nk-navbar.nk-navbar-align-center {
	text-align: center
}

.nk-navbar.nk-navbar-align-right {
	text-align: right
}

.nk-navbar .nk-nav-table {
	display: table;
	width: 100%;
	height: 100%
}

.nk-navbar .nk-nav-table>* {
	display: table-cell;
	vertical-align: middle
}

.nk-navbar .nk-nav-table>.nk-nav-row {
	display: table-row
}

.nk-navbar .nk-nav-table>.nk-nav-row-full {
	height: 100%
}

.nk-navbar .nk-nav-table>.nk-nav-row-center>* {
	display: table-cell;
	vertical-align: middle
}

.nk-navbar .nk-nav-table>.nk-nav-icons, .nk-navbar .nk-nav-table>.nk-nav-logo
	{
	width: .1%
}

.nk-navbar .nk-nav-icons {
	white-space: nowrap
}

.nk-navbar .nk-nav-icons>* {
	white-space: normal
}

.nk-navbar a {
	color: inherit;
	transition: color .3s
}

.nk-navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.nk-navbar ul>li>a {
	white-space: nowrap
}

.nk-navbar ul>li>a:focus, .nk-navbar ul>li>a:hover {
	text-decoration: none
}

.nk-navbar .nk-navbar-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1
}

.nk-navbar .nk-nav {
	position: relative;
	padding-left: 20px
}

.nk-navbar .nk-nav>li.single-icon:last-of-type>a, .nk-navbar .nk-nav>li:last-of-type>a
	{
	padding-right: 0
}

.nk-navbar .nk-nav+.nk-nav {
	padding-left: 0
}

.nk-navbar .nk-nav+.nk-nav>li:first-child {
	padding-left: 20px
}

.nk-navbar .nk-nav .nk-nav {
	padding-left: 0;
	padding-right: 0
}

.nk-navbar .nk-nav li.single-icon>a {
	padding: 0 15px
}

.nk-navbar .nk-nav li.single-icon>a:before {
	content: none
}

.nk-navbar .nk-nav li.single-icon>a>i, .nk-navbar .nk-nav li.single-icon>a>span
	{
	height: 32px;
	line-height: 32px;
	font-size: 1.1rem;
	vertical-align: middle
}

.nk-navbar .nk-nav>li {
	position: relative;
	display: inline-block;
	vertical-align: middle
}

.nk-navbar .nk-nav>li>a {
	position: relative;
	padding: 6px 14.6px;
	display: block;
	text-transform: uppercase;
	font-weight: 900;
}

.nk-navbar .nk-nav>li.active>a, .nk-navbar .nk-nav>li>a:hover {
	color: #0e0e0e
}

.nk-navbar .nk-nav .dropdown {
	position: absolute;
	display: none;
	font-size: 1rem;
	background-color: #252525;
	margin-top: 12px;
	margin-left: -15px;
	padding: 15px 0;
	opacity: 0;
	z-index: 1
}

.nk-navbar .nk-nav .dropdown:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	top: -20px;
	height: 90px;
	z-index: -1
}

.nk-navbar .nk-nav .dropdown>li {
	position: relative
}

.nk-navbar .nk-nav .dropdown>li>a {
	display: block;
	padding: 6px 30px;
	padding-right: 75px;
	color: #c5c5c5;
	text-decoration: none
}

.nk-navbar .nk-nav .dropdown>li.active>a, .nk-navbar .nk-nav .dropdown>li>a:hover
	{
	color: #fff
}

.nk-navbar .nk-nav .nk-drop-item .nk-drop-item>a:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	right: 20px;
	color: inherit;
	width: 0;
	height: 0;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left: 2px solid
}

.nk-navbar .nk-nav .nk-drop-item .nk-drop-item .dropdown {
	top: 0;
	margin-top: -15px;
	margin-left: 100%
}

.nk-navbar .nk-nav-logo .nk-nav-logo-onscroll {
	display: none
}

.nk-navbar.nk-navbar-white-text-on-top .nk-nav>li>a {
	color: #000			/* 글씨색이다 */
}

.nk-navbar.nk-navbar-white-text-on-top .nk-nav>li.active>a, .nk-navbar.nk-navbar-white-text-on-top .nk-nav>li>a:hover
	{
	color: #209CCE		/* 호버 글씨색 변경 */
}

.nk-navbar.nk-navbar-white-text-on-top.nk-navbar-solid .nk-nav>li>a {
	color: #000 		/* 글씨색이다 */
}

.nk-navbar.nk-navbar-white-text-on-top.nk-navbar-solid .nk-nav>li.active>a,
	.nk-navbar.nk-navbar-white-text-on-top.nk-navbar-solid .nk-nav>li>a:hover
	{
	color: #209CCE		/* 호버 글씨색 변경 */
}

.nk-navbar.nk-navbar-white-text-on-top .nk-nav-logo .nk-nav-logo-onscroll
	{
	display: block
}

.nk-navbar.nk-navbar-white-text-on-top .nk-nav-logo .nk-nav-logo-onscroll+img,
	.nk-navbar.nk-navbar-white-text-on-top.nk-navbar-solid .nk-nav-logo .nk-nav-logo-onscroll
	{
	display: none
}

.nk-navbar.nk-navbar-white-text-on-top.nk-navbar-solid .nk-nav-logo .nk-nav-logo-onscroll+img
	{
	display: block
}

.nk-navbar .nk-nav-right {
	text-align: right
}

.nk-navbar .nk-nav-right>* {
	text-align: left
}

.nk-navbar .nk-nav-center {
	text-align: center
}

.nk-navbar .nk-nav-center>* {
	text-align: left
}

.nk-navbar .nk-drop-item.nk-drop-left>a:after {
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left: none;
	border-right: 2px solid
}

.nk-navbar .nk-drop-item.nk-drop-left .dropdown {
	margin-left: -100%
}

.nk-navbar-overlay {
	z-index: 1001;
	background-color: rgba(0, 0, 0, .6);
	cursor: pointer
}

.nk-navbar-full, .nk-navbar-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0
}

.nk-navbar-full {
	padding: 0;
	overflow: hidden;
	background: #252525;
	z-index: 1002
}

.nk-navbar-full .nk-nav-header {
	padding: 33px 0;
	margin-right: -22px
}

.nk-navbar-full .nk-nav-header:after {
	content: "";
	display: table;
	clear: both
}

.nk-navbar-full .nk-nav-header .nk-nav-logo {
	float: left
}

.nk-navbar-full .nk-nav-header .nk-nav-close {
	cursor: pointer;
	float: right;
	padding: 6px 25px;
	color: #d8d8d8;
	z-index: 1
}

.nk-navbar-full .nk-nav-header .nk-nav-close:hover {
	color: #fff
}

.nk-navbar-full .container-fluid .nk-nav-header {
	padding-right: 8px;
	padding-left: 30px;
	margin-right: 0
}

.nk-navbar-full .nano {
	display: table-cell;
	height: 100%;
	overflow-y: auto
}

.nk-navbar-full .nk-nav {
	position: relative;
	padding: 0;
	padding-top: 25px;
	overflow: hidden
}

.nk-navbar-full .nk-nav .dropdown>li, .nk-navbar-full .nk-nav>li {
	position: static;
	display: block;
	max-width: 450px;
	margin: 0 auto
}

.nk-navbar-full .nk-nav .dropdown>li:last-of-type>a, .nk-navbar-full .nk-nav .dropdown>li>a,
	.nk-navbar-full .nk-nav>li:last-of-type>a, .nk-navbar-full .nk-nav>li>a
	{
	font-family: Playfair Display, serif;
	font-size: 1.7rem;
	text-transform: none;
	font-weight: 700;
	padding: 3px 80px;
	color: #d8d8d8
}

.nk-navbar-full .nk-nav .dropdown>li.active>a, .nk-navbar-full .nk-nav .dropdown>li>a:hover,
	.nk-navbar-full .nk-nav>li.active>a, .nk-navbar-full .nk-nav>li>a:hover
	{
	color: #fff
}

.nk-navbar-full .nk-nav .dropdown>li>a:after, .nk-navbar-full .nk-nav .dropdown>li>a:before,
	.nk-navbar-full .nk-nav>li>a:after, .nk-navbar-full .nk-nav>li>a:before
	{
	content: none
}

.nk-navbar-full .nk-nav .bropdown-back>a, .nk-navbar-full .nk-nav .nk-drop-item>a,
	.nk-navbar-full .nk-nav>.nk-drop-item>a {
	position: relative
}

.nk-navbar-full .nk-nav .nk-drop-item .nk-drop-item>a:after,
	.nk-navbar-full .nk-nav .nk-drop-item>a:after, .nk-navbar-full .nk-nav>.nk-drop-item>a:after
	{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: 30px;
	left: auto;
	color: inherit;
	width: 0;
	height: 0;
	border: none;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid;
	transition: opacity .3s;
	will-change: opacity;
	transform: none;
	opacity: .6 !important
}

.nk-navbar-full .nk-nav .nk-drop-item>a.hover:after, .nk-navbar-full .nk-nav .nk-drop-item>a:hover:after,
	.nk-navbar-full .nk-nav>.nk-drop-item>a.hover:after, .nk-navbar-full .nk-nav>.nk-drop-item>a:hover:after
	{
	opacity: 1 !important;
	width: 0;
	height: 0
}

.nk-navbar-full .nk-nav .dropdown {
	display: block;
	opacity: 1;
	background-color: transparent;
	padding: 0
}

.nk-navbar-full .nk-nav .dropdown:before {
	content: none
}

.nk-navbar-full .nk-nav .nk-drop-item .dropdown, .nk-navbar-full .nk-nav .nk-drop-item .nk-drop-item .dropdown
	{
	top: 0;
	left: 0;
	margin-top: 0;
	margin-left: 0;
	width: 100%
}

.nk-navbar-full .nk-nav .dropdown>li>a {
	display: none
}

.nk-navbar-full .dropdown>.bropdown-back>a:after {
	content: "" !important;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: 30px;
	color: inherit;
	width: 0;
	height: 0;
	border: none;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-right: 3px solid;
	transition: opacity .3s;
	will-change: opacity;
	transform: none;
	opacity: .6
}

.nk-navbar-full .dropdown>.bropdown-back>a.hover:after, .nk-navbar-full .dropdown>.bropdown-back>a:hover:after
	{
	opacity: 1
}

.nk-navbar-full .nk-nav-social {
	padding: 51px 20px
}

.nk-navbar-full .nk-nav-social>ul li {
	display: inline-block
}

.nk-navbar-full .nk-nav-social>ul li>a {
	display: block;
	font-size: 1.13rem;
	color: #d8d8d8;
	margin: 3px 6px
}

.nk-navbar-full .nk-nav-social>ul li>a.hover, .nk-navbar-full .nk-nav-social>ul li>a:hover
	{
	color: #fff
}

.nk-header-title {
	position: relative;
	display: block;
	text-align: center;
	overflow: hidden;
	padding-top: 75px;
	z-index: 0
}

.nk-header-title .nk-header-table {
	height: 370px
}

.nk-header-title.nk-header-title-sm .nk-header-table {
	height: 270px
}

.nk-header-title.nk-header-title-md .nk-header-table {
	height: 470px
}

.nk-header-title.nk-header-title-lg .nk-header-table {
	height: 570px
}

.nk-header-title.nk-header-title-full {
	padding-top: 0;
	min-height: 700px;
	height: 100vh
}

.nk-header-title.nk-header-title-full .nk-header-table {
	height: 100%;
	min-height: 700px
}

.nk-header-title .nk-header-table {
	display: table;
	width: 100%
}

.nk-header-title .nk-header-table-cell {
	display: table-cell;
	vertical-align: middle;
	padding: 60px 0
}

.nk-header-title .nk-header-text-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(37, 37, 37, .4)
}

.nk-header-title.nk-header-title-full .nk-header-text-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0
}
/*
.nk-header-title .nk-header-title-scroll-down {
	display: block;
	position: absolute;
	color: inherit;
	text-decoration: none;
	text-align: center;
	font-size: 1.3rem;
	bottom: 65px;
	left: 60%;
	margin-left: -50px;
	width: 300px;
	height: 50px;
	line-height: 54px;
	opacity: .6;
	transition: opacity .5s
}
*/
.nk-header-title .nk-header-title-scroll-down:hover {
	opacity: 1
}

.nk-header-title h1.nk-title {
	line-height: 1.18
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	color: #0275d8;
	text-decoration: none

}

a:active, a:hover {
	outline-width: 0
}
a:focus, a:hover {
	color: #014c8c;
	text-decoration: underline
}