@charset "UTF-8";
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.edit_form{
	margin-top: 156px;
}

h1 {
	text-align:center;
}

form {
	padding-left:20px;
	margin-left: 30%;
	width: 50%;
	height: 90%;
}

.addr {
	margin-bottom: 4px;
}

.btngroup{
	float: right;
	margin-right: 20%;
}

button {
	width:120px;
	height: 50px;
}