<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

<!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" 
    	href="../static/css/combined.css" th:href="@{/css/combined.css}">

<!-- END: Styles -->

</head>
<body>
<!-- <jsp:include page="oversea_before_login_nav.jsp" flush="false"/> -->
	<header th:fragment="nav" class="nk-header">
        <!--START: Navbar-->
        <!-- 로그인 후 -->
        <nav th:if="${session.mem!=null}" 
        	class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-white-text-on-top">
            <div class="container">
                <div class="nk-nav-table">
                    <a href="index.html" th:href="@{/}" class="nk-nav-logo">
                        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="" width="200" class="nk-nav-logo-onscroll">
                        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="" width="200">
                    </a>
                    <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                        <li>
                            <a th:href="@{/overseaDestiList}">여행상품</a>
                        </li>
                        <li>
                            <a th:href="@{/overseaExchange}">환율 정보</a>
                        </li>
                        <li>
                            <a th:href="@{/overseaSupport}">고객센터</a>
                        </li>
                        <li>
                            <a th:href="@{/overseaUserForm}"  >
                            	<img width="25px" height="25px" alt="" 
                            		src="<%=request.getContextPath() %>/assets/images/login_user.png"
                            		th:src="@{/images/login_user.png}">
                           	</a>
                        </li>
                    </ul>

                    <ul class="nk-nav nk-nav-right nk-nav-icons">
                        <li class="single-icon hidden-lg-up">
                            <a href="#" class="nk-navbar-full-toggle">
                                <span class="nk-icon-burger">
                                    <span class="nk-t-1"></span>
                                    <span class="nk-t-2"></span>
                                    <span class="nk-t-3"></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- 로그인 전 -->	
    	<nav th:unless="${session.mem!=null}" 
    		class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-white-text-on-top">
            <div class="container">
                <div class="nk-nav-table">
                    <a href="index.html" th:href="@{/}" class="nk-nav-logo">
                        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="" width="200" class="nk-nav-logo-onscroll">
                        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="" width="200">
                    </a>
                    <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                       
                        <li>
                            <a th:href="@{/overseaDestiList}">여행상품</a>
                        </li>
                        <li>
                            <a th:href="@{/overseaExchange}">환율 정보</a>
                        </li>
                        <li>
                            <a th:href="@{/overseaSupport}">고객센터</a>
                        </li>
                        <li>
                            <a th:href="@{/overseaLoginForm}">로그인</a>
                        </li>
                    </ul>
                    <ul class="nk-nav nk-nav-right nk-nav-icons">
                        <li class="single-icon hidden-lg-up">
                            <a href="#" class="nk-navbar-full-toggle">
                                <span class="nk-icon-burger">
                                    <span class="nk-t-1"></span>
                                    <span class="nk-t-2"></span>
                                    <span class="nk-t-3"></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END: Navbar -->
    </header>
</body>
</html>