<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Oversea 로그인하기</title>

<!-- START: Styles -->
<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" >
<!-- Google Fonts -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>
<link rel="stylesheet" href="assets/css/oversea_loginForm.css" th:href="@{/css/overseaLoginForm.css}">
<link rel="stylesheet" href="assets/css/combined.css" th:href="@{/css/combined.css}">
<script language="javascript" type="text/javascript" src="assets/js/oversea_login.js" th:src="@{/js/overseaLogin.js}"></script>
<!-- END: Styles -->

</head>
<body th:style="'background:url('+@{/img/14.jpg}+'); background-size:100%;'">
	<header class="nk-header" th:insert="overseaBeforeLoginNav::nav"></header>
	<div id="login">
      <h3><font color="white"><strong>Login</strong></font></h3>
         <br>
         <form method="post" action="">
            <fieldset>
               <p><input type="text" value="Email" name="email"
                     onBlur="if(this.value=='')this.value='Email'" 
                        onFocus="if(this.value=='Email')this.value='' " required></p>
               
               <p><input type="password" value="Password" name="passwd"
                     onBlur="if(this.value=='')this.value='Password'"
                        onFocus="if(this.value=='Password')this.value='' " required></p>
               <p id="findbox">
               	  Forgot 
                  <a href="oversea_choice_idpw.jsp" th:href="@{/overseaFindId}">ID</a> / 
                  <a href="oversea_choice_idpw.jsp" th:href="@{/overseaFindPasswd}">PW</a> ?
               </p>             
               <p><input type="button" value="Login" onclick="this.form.submit();"></p>           
            </fieldset>         
         </form>
         <button class="join" th:onclick="location.href='/overseaJoinForm' ">Join us</button>
	</div>
</body>
</html>